.Title *, .nav-link {
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0.25em;
  background-color: rgb(0, 0, 0);
  color: #fff;
  display: inline-block;
}

.Title .nav-link-active {
  text-decoration: none;
  color: purple;
  display: inline-block;
  padding: 0.5 1em;
  font-weight: 900;
  font-style: normal;
}
.Title-Subtitle {
  color: rgba(255, 255, 255, 0.75);
}
